.blog {
  .bgroup {
    display: flex;
    margin: 20px;

    section {
      padding: 10px;
    }

    p {
      padding-top: 10px;
      font-size: 10px;
    }
  }

  .image1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/image5.jpg);

    width: 160px;
    height: 100px;
  }
}
